div.signup-form {
  width: 425px;
  margin: 20px auto 0 auto;
  padding: 0 10px 10px 10px;
}

div.signup-form div.signup-form-header {
  font-family: "Baloo Tamma 2", cursive;
}

div.signup-form div.signup-form-header h1 {
  font-size: 2.5rem;
}

div.signup-form div.signup-form-header p {
  font-size: 1.5rem;
  position: relative;
  bottom: 10px;
  color: #646464;
}

div.signup-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.signup-form form div.first-last-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

div.signup-form form div.first-last-name div {
  width: 195px;
  height: 40px;
}

div.signup-form form div.first-last-name div input {
  border: 1px solid #e4e4e4;
  padding-left: 10px;
  font-size: 1rem;
}

div.signup-form form div.first-last-name div input::-webkit-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.first-last-name div input:-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.first-last-name div input::-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.first-last-name div input::placeholder {
  color: #8f8f8f;
}

div.signup-form form div.mobile-email {
  height: 40px;
  margin-bottom: 10px;
}

div.signup-form form div.mobile-email input {
  border: 1px solid #e4e4e4;
  padding-left: 10px;
  font-size: 1rem;
}

div.signup-form form div.mobile-email input::-webkit-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.mobile-email input:-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.mobile-email input::-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.mobile-email input::placeholder {
  color: #8f8f8f;
}

div.signup-form form div.password {
  height: 40px;
  margin-bottom: 20px;
}

div.signup-form form div.password input {
  border: 1px solid #e4e4e4;
  padding-left: 10px;
  font-size: 1rem;
}

div.signup-form form div.password input::-webkit-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.password input:-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.password input::-ms-input-placeholder {
  color: #8f8f8f;
}

div.signup-form form div.password input::placeholder {
  color: #8f8f8f;
}

div.signup-form form div.birthday-select {
  margin-bottom: 10px;
}

div.signup-form form div.birthday-select label.birthday-label {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.3rem;
  color: #888888;
  font-weight: bolder;
}

div.signup-form form div.birthday-select div.all-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.signup-form form div.birthday-select div.all-selects div:not(:first-child) {
  margin-left: 5px;
}

div.signup-form form div.birthday-select div.all-selects select {
  display: inline-block;
  border-radius: 3px;
  height: 30px;
  outline: none;
  border: 1px solid #e4e4e4;
}

div.signup-form form div.birthday-select div.q-mark {
  position: relative;
  left: 10px;
}

div.signup-form form div.birthday-select div.q-mark i {
  color: #686868;
  cursor: pointer;
}

div.signup-form form div.birthday-select div.birthday-more-info {
  display: none;
}

div.signup-form form div.birthday-select div.birthday-more-info div.info {
  border: 1px solid #e0e0e0;
  width: 350px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 7px 3px 13px -2px #b0b0b0;
  box-shadow: 7px 3px 13px -2px #b0b0b0;
  border-radius: 0 10px 10px 10px;
  position: absolute;
  z-index: 100;
  margin-left: 15px;
}

div.signup-form form div.birthday-select div.birthday-more-info div.info p {
  font-size: .9rem;
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  font-family: "Baloo Tamma 2", cursive;
  margin-bottom: 15px;
}

div.signup-form form div.birthday-select div.birthday-more-info div.info p .key-word {
  color: #1877f2;
}

div.signup-form form div.birthday-select div.birthday-more-info div.info button {
  border: none;
  outline: none;
  padding: 3px 15px;
  background-color: #1877f2;
  font-family: "Baloo Tamma 2", cursive;
  color: #fff;
  -webkit-box-shadow: 0px -1px 13px -2px #b0b0b0;
  box-shadow: 0px -1px 13px -2px #b0b0b0;
  border-radius: 3px;
  cursor: pointer;
}

div.signup-form form div.gender-select {
  margin-bottom: 10px;
}

div.signup-form form div.gender-select label.gender-label {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.3rem;
  color: #888888;
  font-weight: bolder;
}

div.signup-form form div.gender-select div.genders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.signup-form form div.gender-select div.genders .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.signup-form form div.gender-select div.genders .radio:not(:first-child) {
  margin-left: 15px;
}

div.signup-form form div.gender-select div.genders .radio div input {
  width: 20px;
  display: inline-block;
}

div.signup-form form div.gender-select div.genders .radio div:not(:first-child) {
  margin-left: 5px;
}

div.signup-form form div.gender-select div.genders .radio div label {
  font-size: 1.3rem;
  font-family: "Baloo Tamma 2", cursive;
  position: relative;
  top: 5px;
}

div.signup-form form .q-mark {
  color: #686868;
  cursor: pointer;
  margin-left: 10px;
}

div.signup-form form div.gender-more-info {
  display: none;
  margin: 5px 0 0 15px;
}

div.signup-form form div.gender-more-info div.info {
  border: 1px solid #e0e0e0;
  width: 350px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 7px 3px 13px -2px #b0b0b0;
  box-shadow: 7px 3px 13px -2px #b0b0b0;
  border-radius: 0 10px 10px 10px;
  position: absolute;
  z-index: 100;
}

div.signup-form form div.gender-more-info div.info p {
  font-size: .9rem;
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  font-family: "Baloo Tamma 2", cursive;
  margin-bottom: 15px;
}

div.signup-form form div.gender-more-info div.info button {
  border: none;
  outline: none;
  padding: 3px 15px;
  background-color: #1877f2;
  font-family: "Baloo Tamma 2", cursive;
  color: #fff;
  -webkit-box-shadow: 0px -1px 13px -2px #b0b0b0;
  box-shadow: 0px -1px 13px -2px #b0b0b0;
  border-radius: 3px;
  cursor: pointer;
}

div.signup-form form p.fine-print {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.3;
  font-size: 12px;
  width: 310px;
  margin-bottom: 20px;
}

div.signup-form form p.fine-print .key-word {
  color: #1877f2;
}

div.signup-form form div.sub-btn {
  border: 1px solid #333;
  border-radius: 3px;
  height: 40px;
}

div.signup-form form div.sub-btn button {
  font-family: "Baloo Tamma 2", cursive;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  background-color: #69a74e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67ae55), to(#6dcf47));
  background-image: linear-gradient(#67ae55, #6dcf47);
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
          box-shadow: inset 0 1px 1px #a4e388;
  color: #fff;
  font-size: 1.2rem;
}

.show-bday-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
